@import "../../global.scss";

.menu{
    width: 25vw;
    height: 100vh;
    background-color: $mainColor;
    position: fixed;
    top: 0;
    right: -25vw;
    z-index: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: all 1.15s ease;

    &.active{
        right: 0;
    }

    ul{
        margin: 0;
        padding: 0;
        list-style: none;
        font-size: 42px;
        font-weight: 100;
        color: #fff;
        width: 60%;

        li{
            margin-bottom: 25px;
            a{
                font-size: inherit;
                color: inherit;
                text-decoration: none;
            }
            &:hover{
                font-weight: 600;
            }
        }
    }
}