@import "../../global.scss";

.portfolio{
    padding-top: 20px;
    background-color: $mainColor;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 2px;

    @include mobile{
       padding-top: 5px;
       margin-bottom: 0px;
    }

    h1{
        font-size: 50px;

        @include mobile{
            font-size: 38px;
            padding: 3px 0px;
        }
    }

    ul{
        margin: 15px;
        padding: 0px;
        list-style: none;
        display: flex;

        @include mobile{
            margin: 2px;
        }

        li{
            font-size: 18px;
            margin-right: 30px;
            padding: 10px;
            border-radius: 8px;
            cursor: pointer;

            &.active{
                background-color: #fff;
                color: $mainColor;
            }

            @include mobile{
                padding: 6px;
                margin: 3px;
                font-size: 15px;
                justify-content: center;
            }
        }
    }

    .container{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        position: relative;

        @include mobile{
            width: 100%;
        }

        .item{
            width: 28vw;
            height: 27vh;
            border-radius: 3vh;
            border: solid 2px rgb(218, 218, 218);
            margin: 3vh 2vw;
            display: flex;
            align-items: center;
            justify-content: center;
            color: #fff;
            transition: all 0.3s ease;
            cursor: pointer;

            @include mobile{
                margin: 2vh 2vw;
                width: 44vw;
                height: 19vh;
            }

            h3{
                position: absolute;
                font-size: 32px;               

                @include mobile{
                    font-size: 16px;
                }
            }

            img{
                height: 100%;
                width: 100%;
                object-fit: cover;
                z-index: 1;
            }

            &:hover{
                background-color: $mainColor;
                img{
                    opacity: 0.2;
                    z-index: 0;
                }
            }
        }
    }
}