@import "../../global.scss";

.portfolioList{
    font-size: 18px;
    padding: 10px;
    border-radius: 8%;
    cursor: pointer;


    &.active{
        background-color: $mainColor;
        color: #fff;
    }
}