@import "../../global.scss";

.contact{
    background-color: $mainColor;
    color: #fff;
    display: flex;

    @include mobile{
        flex-direction: column;
    }

    .left{
       
        flex: 0.5;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        @include mobile{
            padding-top: 20px;
            flex: 1;
        }

        h2{
            flex-direction: column;
            align-items: center;
            justify-content: center;
            font-size: 30px;
            padding-bottom: 10px;
        }
        form{
            height: 60%;
            width: 70%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            @include mobile{
                width: 80%;
                padding-bottom: 2px;
            }

            input{
                margin-bottom: 20px;
                padding: 3px 15px;
                width: 90%;
                height: 30px;
                font-size: 14px;
                font-weight: 700;
                color: #fff;
                background-color: $mainColor;

                border: solid #929292 2px;
                border-radius: 10px;
                transition: all 0.5s ease;
                &:focus{
                    outline: none;
                    border: solid #fff 2px;
                }

                @include mobile{
                    width: 240px;
                    height: 25px;
                }
            }

            textarea{
                padding: 10px 15px;
                margin-bottom: 20px;
                width: 90%;
                height: 50%;
                font-size: 14px;
                border: solid #929292 2px;
                border-radius: 10px;
                color: #fff;
                background-color: $mainColor;
                transition: all 0.5s ease;

                @include mobile{
                    width: 240px;
                    height: 180px;
                }

                &:focus{
                    outline: none;
                    border: solid #fff 2px;
                }
                
            }

            button{
                width: 80px;
                height: 40px;
                background-color: #fff;
                color: $mainColor;
                border: none;
                border-radius: 5px;
                font-size: 20px;
                font-weight: 700;
                cursor: pointer;
                transition: all .2s ease;

                &:hover{
                    background-color: $mainColor;
                    color: #fff;
                    border: solid #fff 2px;
                }
            }
        }
        .socMed{
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            width: 100%;
            height: 100px;
            padding-bottom: 50px;

            @include mobile{
                height: 50px;        
                padding-bottom: 0px;
                padding-top: 10px;
            }

            a{
                @include mobile{
                    margin: 0 20px;
                 }
                
               img{
                    padding: 0 40px;
                    color:#fff;
                    height: 60px;
                    width: 60px;

                    @include mobile{
                        padding: 0 3px;
                        width: 28px;
                        height: 30px;
                     }
               }
            }
        }
        span{
            padding-top: 10px;
            font-size: 2.5vh;
            font-weight: 700;
        }
    }
    .right{
        flex: 0.5;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        overflow: hidden;

        @include mobile{
            display: none;
        }

        img{
            height: 70vh;
            top: 30%;
            border-radius: 20%;
        }
    }
}