@import "../../global.scss";

.contact{
    background-color: $mainColor;
    color: #fff;
    display: flex;

    .left{
       
        flex: 0.5;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        h2{
            flex-direction: column;
            align-items: center;
            justify-content: center;
            font-size: 30px;
        }
        form{
            height: 60%;
            width: 70%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            input{
                margin-bottom: 20px;
                padding: 3px 15px;
                width: 90%;
                height: 30px;
                font-size: 14px;
                font-weight: 700;
                color: #fff;
                background-color: $mainColor;

                border: solid #929292 2px;
                border-radius: 10px;
                transition: all 0.5s ease;
                &:focus{
                    outline: none;
                    border: solid #fff 2px;
                }
            }

            textarea{
                padding: 10px 15px;
                margin-bottom: 20px;
                width: 90%;
                height: 50%;
                font-size: 14px;
                border: solid #929292 2px;
                border-radius: 10px;
                color: #fff;
                background-color: $mainColor;
                transition: all 0.5s ease;
                &:focus{
                    outline: none;
                    border: solid #fff 2px;
                }
            }

            button{
                width: 80px;
                height: 40px;
                background-color: #fff;
                color: $mainColor;
                border: none;
                border-radius: 5px;
                font-size: 20px;
                font-weight: 700;
                cursor: pointer;
                transition: all .2s ease;

                &:hover{
                    background-color: $mainColor;
                    color: #fff;
                    border: solid #fff 2px;
                }
            }
        }
        .socMed{
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            width: 100%;
            height: 100px;
            padding-bottom: 50px;

            a{
                
               img{
                    padding: 0 40px;
                    color:#fff;
                    height: 60px;
                    width: 60px;
               }
            }
        }
    }
    .right{
        flex: 0.5;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        overflow: hidden;
        img{
            height: 70vh;
            top: 30%;
            border-radius: 20%;
        }
    }
}