@import "../../global.scss";

.works{
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;

    .arrow{
        height: 100px;
        width: 100px;
        position: absolute;
        opacity: 0.5;
        transition: all 0.3s ease;

        @include mobile{
            display: none;
        }

        &:hover{
            opacity: 1;
        }

        &.left{
            left: 50px;
            transform: rotateY(180deg);
            cursor: pointer;

        }  
        &.right{
            right: 50px;
            cursor: pointer;
        }      
    }

    .slider{
        display: flex;
        position: absolute;
        left: 0;
        height: 70vh;
        transition: all 1s ease-out;

        @include mobile{
            flex-direction: column;
            justify-content: center;
            height: 80vh;
            padding: 1px 0px;
        }

        .container{
            width: 100vw;
            display: flex;
            align-items: center;
            justify-content: center;

            @include mobile{
                padding: 3px 0px;
            }


            .item{
                width: 70vw;
                height: 100%;
                background-color: $mainColor;
                border-radius: 20px;
                display: flex;
                align-items: center;
                justify-content: center;

                @include mobile{
                    width: 90%;
                    height: 188px;
                }

                .left{
                    color: #fff;
                    flex: 5;
                    height: 90%;
                    display: flex;
                    align-self: center;
                    justify-content: center;

                    .leftContainer{
                        width: 90%;
                        height: 100%;
                        display: flex;
                        flex-direction: column;
                        align-self: center;
                        justify-content: center;
                        
                        .imgContainer{
                            width: 100%;
                            height: 40%;
                            border-radius: 10%;
                            background-color: $mainColor;
                            display: flex;
                            align-items: flex-end;
                            justify-content: center;

                            @include mobile{
                                align-items: center;
                                width: 100%;
                                height: 80%;
                            }

                            img{
                               width: 120px;
                               display: flex;
                               justify-content: center;
                               align-items: center;
                               padding-bottom: 20px;

                               @include mobile{
                                width: 80%;
                                height: 70%;
                                padding-bottom: 0px;
                            }
                            }
                        }

                        h2{
                            display: flex;
                            justify-content: center;
                            font-size: 28px;

                            @include mobile{
                                display: none;
                            }
                        }

                        p{
                            padding-top: 30px;
                            display: flex;
                            justify-content: center;
                            text-align: center;
                            font-size: 18px;
                            width: 100%;

                            @include mobile{
                                display: none;
                            }
                        }

                        span{
                            padding-top: 20px;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            font-size: 16px;
                            font-weight: 600;
                            text-decoration: underline;
                            cursor: pointer;

                            @include mobile{
                                padding-top: 0px;
                            }
                        }
                    }
                }
                .right{
                    height: 100%;
                    flex: 7;
                    display: flex;
                    align-self: center;
                    justify-content: center;
                    overflow: hidden;

                    img{
                        height: 100%;
                        width: 100%;
                    }
                }
            }
        }
    }
}