.App{
    height: 100vh;

    .sections{
        width: 100%;
        height: calc(100vh - 120px);
        position: relative;
        top: 120px;
        scroll-behavior: smooth;
        scroll-snap-type: y mandatory;
        scrollbar-width: none; //Disable scrollbar on FireFox
        &::-webkit-scrollbar{ //Disable scrollbar on other Browsers
            display: none;
        }

        > *{
            width: 100vw;
            height: calc(100vh - 120px);
            scroll-snap-align: start;
        }
    }
}